@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F9FA;
    color: #2C3E50;
    -webkit-font-smoothing: antialiased;
}

/* Base input reset for big numbers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}