@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFFFFF;
    color: #1E293B;
    /* slate-800 for high contrast */
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Base input reset for big numbers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}